* {
    margin: 0;
    padding: 0;
}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

#columns {
  list-style-type: none;
}

.column {
  width: 10em;
  padding-bottom: .5em;
  padding-top: .5em;
  text-align: center;
  cursor: move;
}
.column header {
  height: 3em;
  width: 10em;
  color: black;
  background-color: darkorange;
  padding: 5px;
  border-bottom: 1px solid #ddd;
  border-radius: 10px;
  border: 2px solid #666666;
}

.column.dragElem {
  opacity: 0.4;
}
.column.over {
  //border: 2px dashed #000;
  border-top: 2px solid blue;
}


img {
    width: 3em;
}

